body {
    background-color: #d5e1ef;
}

.main-container {
    margin: 0 auto; /* CNETERS THE BOX HORIZONTIALLY ON THE PAGE*/
    border-radius: 20px; /* rOUNDS OUT THE CORNERS OF THE bOX */
    width: 400px;
    background-color: #ffff;
    padding: 20px; /* Puts space around the content 8*/
    padding-bottom: 300px;
}

.blue-box {
    background-color: #2b7dfa;
    padding: 40px;
    border-radius: 10px;
    height: 300px;
    background-image: url('images/image-qr-code.png');
    overflow: hidden;
}

.qr-code-img {
    width: 100%; 
    height: 100%;  
    object-fit: contain;
   
}